absl-py==2.1.0
aniso8601
astunparse==1.6.3
blinker
Bottleneck
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click
contourpy
cycler
Flask
Flask-Cors
Flask-RESTful
flatbuffers==24.3.25
fonttools
gast==0.6.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.67.1
h5py==3.12.1
idna==3.10
itsdangerous
Jinja2
keras==2.15.0
kiwisolver
libclang==18.1.1
Markdown==3.7
MarkupSafe
matplotlib==3.9.2
ml-dtypes==0.2.0
numexpr
numpy
oauthlib==3.2.2
opt_einsum==3.4.0
packaging
pandas
pillow
protobuf==4.25.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing
python-dateutil
pytz
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.15.0
termcolor==2.5.0
tornado
typing_extensions==4.12.2
tzdata
unicodedata2
urllib3==2.2.3
Werkzeug
wrapt==1.14.1
